SMTPROXY_LISTEN_ADDR=:25
SMTPROXY_TLS_LISTEN_ADDR=:465
SMTPROXY_METRICS_LISTEN_ADDR=:9100
SMTPROXY_ROUTING_MODE=local-first
SMTPROXY_LOCAL_UPSTREAMS=:25
SMTPROXY_REMOTE_UPSTREAMS=
SMTPROXY_REQUIRE_TLS=true
SMTPROXY_UPSTREAM_STARTTLS=true
SMTPROXY_UPSTREAM_REQUIRE_TLS=true
SMTPROXY_UPSTREAM_TLS=false
SMTPROXY_TLS13_ONLY=false
SMTPROXY_UPSTREAM_TLS13_ONLY=false
SMTPROXY_SKIP_CERT_VALIDATION=false
SMTPROXY_SEND_XCLIENT=false
SMTPROXY_MAX_CONNECTIONS=1000
SMTPROXY_TRUSTED_ROOT_FILE=
SMTPROXY_CERT_FILE=/tls/tls.crt
SMTPROXY_KEY_FILE=/tls/tls.key
SMTPROXY_CERT_FILE2=
SMTPROXY_KEY_FILE2=
SMTPROXY_SERVER_NAME=
SMTPROXY_LOGLEVEL=error
SMTPROXY_HANDSHAKE_LOGLEVEL=none

